<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
    <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
    <meta name="author" content="Matias, Sara, Samuel, William">
    <title>MyTripy</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
   <a href="region.tmpl">Page region.tmpl</a>


    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="#" class="logo">
            <img class="image_logo" src="static/img/fond_noir.png" alt="MyTripy">
            <span class="text_logo">My<span>Trip</span>y</span>
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu.png" alt="">
        </button>

    </header>

    <!-- Navigation -->
    <ul class="meta-ul">
        <li class="meta-navigation">
            <a class="meta-a" href="#">MyTripy</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Destinations</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Favoris</a>
        </li>

        <li class="meta-navigation-btn-connexion">
            <a class="btn" href="#">Se connecter</a>
        </li>

        <li class="meta-navigation-btn-creer-compte">
            <a class="btn" href="#">Créer mon compte</a>
        </li>
    </ul>


    <!-- Contenu principal -->
    <section>
        <!--<h2>Besoin de renseignement pour votre prochaine Destination ?</h2>-->

        <!-- Barre de recherche -->
        <div class="search-bar">
            <input type="text" placeholder="Rechercher une destination..." id="search-input">
            <span class="search-icon"><img src="static/img/chercher.png" alt="Icone recherche"></span>
        </div>
    </section>


    <!-- Pied de page -->
    <footer>
        <p>&copy; 2025 Forum Voyage - Tous droits réservés.</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>