<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
    <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
    <meta name="author" content="Matias, Sara, Samuel, William">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;600;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <title>MyTripy</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/styles-desktop.css" media="screen and (min-width: 1024px)">
</head>

<body>

    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="/mytripy-non" class="logo">
            <img class="image_logo" src="static/img/logo/logo-mytripy-2.png" alt="MyTripy Logo">
            <img class="mytripy" src="static/img/logo/mytripy.png" alt="MyTripy">
            <!-- <span class="text_logo">My<span>Trip</span>y</span> -->
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu-black.png" alt="menu">
        </button>

        <!-- Navigation -->
        <ul class="meta-ul">
            <li class="meta-navigation">
                <a class="meta-a" href="/mytripy-non">MyTripy</a>
            </li>

            <li class="meta-navigation">
                <a class="meta-a" href="/destinations">Destinations</a>
            </li>

            <li class="meta-navigation">
                <a class="meta-a" href="/contact">Contactez-nous</a>
            </li>

            <li class="meta-navigation-btn-connexion">
                <a class="btn" href="/profil">Mon Compte</a>
            </li>
        </ul>

    </header>

    <!-- Contenu principal -->
    <section>
        <div id="message-container" class="allPosts">
            {{range .Messages}}
            
            <div class="post">
                <div class="infoPost">
                    <img src="{{.ImgUser}}" class="photoProfil" alt="Photo de profil">
                    <div class="txtInfoPost">
                        <h3>{{.Sender}}</h3>
                        <h4>{{.TimeElapsed}}</h4>
                    </div>
                </div>
                <div class="message">
                    <p>{{.Message}}</p>
                </div>

                <div class="msg-coeur-container" data-message-id="{{.MessageID}}">
                    {{if .UserLiked}}
                    <img src="static/img/coeur_rouge.png" alt="Liked" class="msg-like">
                    {{else}}
                    <img src="static/img/coeur.png" alt="Like" class="msg-like">
                    {{end}}
                    <p>{{.NumberOfLikes}} Likes</p>
                </div>
            </div>
            {{end}}
        </div>
    </section>

        <div class="conainerWritePost">
            <textarea placeholder="Tapez votre Post..." class="inputPost" id="messageInput" oninput="adjustHeight(this)"></textarea>
            <img src="static/img/envoyer.png" alt="Icone d'envoi" class="iconSend" id="sendButton">
        </div>
    <script src="static/script.js"></script>
</body>

</html>