<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
    <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
    <meta name="author" content="Matias, Sara, Samuel, William">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap" rel="stylesheet">
    <title>MyTripy</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="/mytripy-non" class="logo">
            <img class="image_logo" src="static/img/logo/logo-mytripy-2.png" alt="MyTripy Logo">
            <img class="mytripy" src="static/img/logo/mytripy.png" alt="MyTripy">
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu-black.png" alt="menu">
        </button>



    <!-- Navigation -->
    <ul class="meta-ul">
        <li class="meta-navigation">
            <a class="meta-a" href="/mytripy_non">MyTripy</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Destinations</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Favoris</a>
        </li>

        <li class="meta-navigation-btn-connexion">
            <a class="btn" href="/profil">Mon Compte</a>
        </li>

        <li class="meta-navigation-btn-connexion">
            <a class="btn" href="/SeConnecter">Se connecter</a>
        </li>

        <li class="meta-navigation-btn-creer-compte">
            <a class="btn" href="/CreerCompte">Créer mon compte</a>
        </li>
    </ul>

    </header>
    
    <!-- Conteneur Principale -->
    <section>
        <div class="ConteneurCreerCompte">
            <form id="creerCompteForm" action="/CreerCompte" method="post" onsubmit="return validateForm()">
                <div class="photo">
                    <img src="../static/img/avatar/avatarFemme1.png" class="photoProfil" id="photoProfil">
                    <a href="#" class="changerAvatar" onclick="openPopup()">Changer d'Avatar</a>
                </div>
    
                <!-- Pop-up -->
                <div id="popup" class="popup">
                    <img src="../static/img/fondAvatar.png" class="fondAvatar">
                    <h1>Choissiez votre Avatar</h1>
                    <div class="imgAvatar">
                        <div class="femme">
                            <img src="../static/img/avatar/avatarFemme1.png">
                            <img src="../static/img/avatar/avatarFemme2.png">
                            <img src="../static/img/avatar/avatarFemme3.png">
                            <img src="../static/img/avatar/avatarFemme4.png">
                        </div>
                        <div class="homme">
                            <img src="../static/img/avatar/avatarHomme1.png">
                            <img src="../static/img/avatar/avatarHomme2.png">
                            <img src="../static/img/avatar/avatarHomme3.png">
                            <img src="../static/img/avatar/avatarHomme4.png">
                        </div>
                    </div>
                </div>          
                
                <h4>Email</h4>
                <div class="ConteneurEmail">
                    <input type="text" id="email" name="email" placeholder="nom@email.com" required>
                    <img src="/static/img/email.png" alt="Icône email">
                </div>

                <h4>Pseudo</h4>
                <div class="ConteneurPseudo">
                    <input type="text" id="pseudo" name="pseudo" placeholder="Votre Pseudo" required>
                    <img src="/static/img/utilisateur.png" alt="Icône utilisateur">
                </div>

                <h4>Mot de passe</h4>
                <div class="ConteneurMotDePasse">
                    <input type="password" id="mot_de_passe" name="mot_de_passe" placeholder="Votre mot de passe" required>
                    <img src="/static/img/cadenas.png" alt="Icône cadenas">
                </div>
                <div class="ConteneurMotDePasse">
                    <input type="password" id="confirme_mot_de_passe" name="confirme_mot_de_passe" placeholder="Confirmer votre mot de passe" required>
                    <img src="/static/img/cadenas.png" alt="Icône cadenas">
                </div>

                <!-- Champ caché pour stocker l'URL de l'avatar choisi -->
                <input type="hidden" id="photo_url" name="photo_url" value="../static/img/avatar/avatarFemme1.png">

                <div id="errorContainer" style="color: red;">{{.ErrorMessage}}</div>

                <button type="submit" class="btn-CreerCompte">Créer un compte</button>
            </form>
        </div>
    </section>

    <script src="static/script.js"></script>
</body>
</html>