<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
    <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
    <meta name="author" content="Matias, Sara, Samuel, William">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>MyTripy</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="#" class="logo">
            <img class="image_logo" src="static/img/fond_noir.png" alt="MyTripy">
            <span class="text_logo">My<span>Trip</span>y</span>
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu.png" alt="">
        </button>
    </header>


    <!-- Navigation -->
    <ul class="meta-ul">
        <li class="meta-navigation">
            <a class="meta-a" href="/mytripy_non">MyTripy</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Destinations</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Favoris</a>
        </li>

        <li class="meta-navigation-btn-connexion">
            <a class="btn" href="/SeConnecter">Se connecter</a>
        </li>

        <li class="meta-navigation-btn-creer-compte">
            <a class="btn" href="/CreerCompte">Créer mon compte</a>
        </li>
    </ul>



    <!-- Conteneur Principale -->

<section>
    <div class="ConteneurCreerCompte">
        
        <div class="photo">

            <img src="../static/img/photoProfil.png" class="photoProfil" id="photoProfil">
            
            <button class="custom-button" id="uploadBtn" type="file">Sélectionner un fichier</button>
            <input type="file" id="fileInput">

        </div>
        
        <h4>Email</h4>
        <div class="ConteneurEmail">
            <input type="text" id="Email" placeholder="Votre Mail">
            <img src="/static/img/email.png" alt="Icône email">
        </div>

        <h4>Pseudo</h4>
        <div class="ConteneurPseudo">
            <input type="text" id="Pseudo" placeholder="Votre Pseudo">
            <img src="/static/img/utilisateur.png" alt="Icône utilisateur">
        </div>

        <h4>Mot de passe</h4>
        <div class="ConteneurMotDePasse">
            <input type="password" id="MotDePasse" placeholder="Votre mot de passe">
            <img src="/static/img/cadenas.png" alt="Icône cadenas">
        </div>
        <div class="ConteneurMotDePasse">
            <input type="password" id="ConfirmeMotDePasse" placeholder="Confirmer votre mot de passe">
            <img src="/static/img/cadenas.png" alt="Icône cadenas">
        </div>

        <a class="btn-CreerCompte" href="#">Créer un compte</a>
    </div>
</section>



    <script src="static/script.js"></script>
</body>
</html>