<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
        <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
        <meta name="author" content="Matias, Sara, Samuel, William">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <title>MyTripy</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/styles-desktop.css" media="screen and (min-width: 1024px)">
    </head>
<body>

    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="/mytripy-non" class="logo">
            <img class="image_logo" src="static/img/logo/logo-mytripy-2.png" alt="MyTripy Logo">
            <img class="mytripy" src="static/img/logo/mytripy.png" alt="MyTripy">
            <!-- <span class="text_logo">My<span>Trip</span>y</span> -->
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu-black.png" alt="menu">
        </button>

        <!-- Navigation -->
        <ul class="meta-ul">
            <li class="meta-navigation">
                <a class="meta-a" href="/mytripy-non">MyTripy</a>
            </li>

            <li class="meta-navigation">
                <a class="meta-a" href="/destinations">Destinations</a>
            </li>

            <li class="meta-navigation">
                <a class="meta-a" href="/contact">Contactez-nous</a>
            </li>

            <li class="meta-navigation-btn-connexion">
                <a class="btn" href="/profil">Mon Compte</a>
            </li>

            <li class="meta-navigation-btn-seconnecter">
                <a class="btn" href="/SeConnecter">Se connecter</a>
            </li>

            <li class="meta-navigation-btn-creer-compte">
                <a class="btn" href="/CreerCompte">Créer mon compte</a>
            </li>
        </ul>

    </header>



    <!-- Contenu principal -->
    <section>
        <div class="allPosts">
                <div class="post">
                    <div class="infoPost">
                        <img src="../static/img/avatar/avatarHomme1.png" class="photoProfil">
                        <div class="txtInfoPost">
                            <h3>Pseudo</h3>
                            <h4>Date et heure</h4>
                        </div>
                    </div>
                    <div class="message">
                        <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant,
                            eo quoque accedente quod et nomenclatores adsueti haec et talia 
                            venditare, mercede accepta lucris quosdam et prandiis inserunt 
                            subditicios ignobiles et obscuros.
                        </p>
                    </div>
                    <!-- <div class="interactionPost">
                        <img src="../static/img/bulle.png" class="iconCommentairePost" id ="iconCommentairePost" onclick="commentairePost()">
                        <img src="../static/img/coeur.png" class="iconLikePost" id="iconLikePost">
                    </div> -->
                </div>
                <!-- <div class="commentaires" id="commentaires">
                   <div class="commentaire">
                            <div class="infoCom">
                                <img src="../static/img/photoProfil.png" class="photoProfil">
                                <div class="txtInfoCom">
                                    <h3>Pseudo</h3>
                                    <h4>Date et heure</h4>
                                </div>
                            </div>
                            <img src="../static/img/coeur.png" class="iconLikeCom" id="iconLikeCom">
                            <div class="messageCom">
                                <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant,
                                    eo quoque accedente quod et nomenclatores adsueti haec et talia 
                                    venditare, mercede accepta lucris quosdam et prandiis inserunt 
                                    subditicios ignobiles et obscuros.
                                </p>
                            </div>
                   </div>
                </div> -->

                <div class="post">
                    <div class="infoPost">
                        <img src="../static/img/avatar/avatarFemme1.png" class="photoProfil">
                        <div class="txtInfoPost">
                            <h3>Pseudo</h3>
                            <h4>Date et heure</h4>
                        </div>
                    </div>
                    <div class="message">
                        <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant,
                            .
                        </p>
                    </div>
                </div>
                    <div class="post">
                        <div class="infoPost">
                            <img src="../static/img/avatar/avatarHomme2.png" class="photoProfil">
                            <div class="txtInfoPost">
                                <h3>Pseudo</h3>
                                <h4>Date et heure</h4>
                            </div>
                        </div>
                        <div class="message">
                            <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant,
                                .
                            </p>
                        </div>
                    <!-- <div class="interactionPost">
                        <img src="../static/img/bulle.png" class="iconCommentairePost" id ="iconCommentairePost" onclick="commentairePost()">
                        <img src="../static/img/coeur.png" class="iconLikePost" id="iconLikePost">
                    </div> -->
                </div>

                <div class="post">
                    <div class="infoPost">
                        <img src="../static/img/avatar/avatarFemme3.png" class="photoProfil">
                        <div class="txtInfoPost">
                            <h3>Pseudo</h3>
                            <h4>Date et heure</h4>
                        </div>
                    </div>
                    <div class="message">
                        <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant,
                            .
                        </p>
                    </div>
                </div>

                <div class="post">
                    <div class="infoPost">
                        <img src="../static/img//avatar/avatarHomme4.png" class="photoProfil">
                        <div class="txtInfoPost">
                            <h3>Pseudo</h3>
                            <h4>Date et heure</h4>
                        </div>
                    </div>
                    <div class="message">
                        <p>Homines enim eruditos et sobrios ut infaustos et inutiles vitant,
                            .
                        </p>
                    </div>
                </div>
        </div>


        <div class="conainerWritePost">
            <textarea placeholder="Tapez votre Post..." class="inputPost" oninput="adjustHeight(this)"></textarea>
            <img src="static/img/envoyer.png" alt="Icone d'envoi" class="iconSend">
        </div>
    </div>

    </section>

    <script src="static/script.js"></script>
</body>
</html>