<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
        <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
        <meta name="author" content="Matias, Sara, Samuel, William">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Sen:wght@400;600;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
        <title>MyTripy</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="static/css/styles-desktop.css" media="screen and (min-width: 1024px)">
    </head>
<body>

    <!-- Header -->
    <div class="header-chp">

        <!-- bouton croix -->
        <button class="sortir" onclick="window.location.href='/mytripy-non'">
            <img src="static/img/croix.png" alt="sortir">
        </button>

    </div>

    <!-- Contenu principal -->
    <section>

        <div class="card">
            <div class="mentions-legales">
                <h1>Mentions légales</h1>

                <h3>Éditeur du site</h3>
                <p>
                Le site <a href="/mytripy-non">http://localhost:8080</a><br/>
                Propriétaire : MyTripy<br/>
                <!-- Statut : Micro-entreprise<br />
                SIRET : [Ton numéro SIRET]<br /> -->
                Adresse : place Sophie Laffitte, 06560 Valbonne<br/>
                Email : <a href="mytripy.msws@gmail.com">mytripy.msws@gmail.com</a>
                </p>

                <h3>Responsable de la publication</h3>
                <p>
                Bouchenoire Matias   – Fondateur de Mytripy<br/>
                Smith Sara           – Fondatrice de Mytripy<br/>
                PONS William         – Fondateur de Mytripy<br/>
                BOUHNIK-LOURY Samuel – Fondateur de Mytripy<br/>
                </p>

                <h3>Hébergement</h3>
                <p>
                Hébergeur : Local<br/>
                Adresse : place Sophie Laffitte, 06560 Valbonne<br/>
                <!-- Téléphone : [Téléphone de l’hébergeur] -->
                </p>

                <h3>Propriété intellectuelle</h3>
                <p>
                L’ensemble du contenu présent sur le site Mytripy (textes, images, logo, design, code, etc.) est protégé par le droit de la propriété intellectuelle.<br/>
                Toute reproduction, distribution, modification, ou publication sans autorisation écrite préalable est strictement interdite.
                </p>

                <h3>Données personnelles</h3>
                <p>
                Les informations collectées (pseudo, email, etc.) lors de l’inscription au forum sont utilisées uniquement pour améliorer l’expérience utilisateur.<br/>
                Conformément à la loi « Informatique et Libertés » et au RGPD, vous pouvez accéder, modifier ou supprimer vos données en nous contactant.
                </p>

                <h3>Cookies</h3>
                <p>
                Le site peut utiliser des cookies pour améliorer la navigation. Vous pouvez les refuser via les paramètres de votre navigateur.
                </p>

                <h3>Limitation de responsabilité</h3>
                <p>
                Mytripy ne peut être tenu responsable des propos tenus par les utilisateurs sur le forum.<br/>
                Toute publication illégale ou inappropriée peut être signalée à l'adresse : <a href="mytripy.msws@gmail.com">mytripy.msws@gmail.com</a></a>.
                </p>
            </div>
        </div>

    </section>

</body>
</html>
