<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
    <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
    <meta name="author" content="Matias, Sara, Samuel, William">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>MyTripy</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="mytripy_non.html" class="logo">
            <img class="image_logo" src="static/img/fond_noir.png" alt="MyTripy">
            <span class="text_logo">My<span>Trip</span>y</span>
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu.png" alt="">
        </button>

    </header>

    <!-- Navigation -->
    <ul class="meta-ul">
        <li class="meta-navigation">
            <a class="meta-a" href="/mytripy_non">MyTripy</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Destinations</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Favoris</a>
        </li>

        <li class="meta-navigation-btn-connexion">
            <a class="btn" href="/SeConnecter">Se connecter</a>
        </li>

        <li class="meta-navigation-btn-creer-compte">
            <a class="btn" href="#">Créer mon compte</a>
        </li>
    </ul>


    <!-- Contenu principal -->
    <section>
        <h2>Besoin de renseignement pour votre prochaine Destination ?</h2>

        <!-- Barre de recherche -->
        <div class="search-bar">
            <input type="text" placeholder="Rechercher une destination..." id="search-input">
            <button class="search-icon"><img src="static/img/loupe.png" alt="Icone recherche"></button>
        </div>

        <!-- Régions -->
        <div class="regions-container">
            <div class="region">
                <img src="static/img/regions/auvergne-rhone-alpes.png" alt="Auvergne-Rhône-Alpes">
                <p>Auvergne-Rhône-Alpes</p>
            </div>
            <div class="region">
                <img src="static/img/regions/bourgogne-franche-comte.png" alt="Bourgogne-Franche-Comté">
                <p>Bourgogne-Franche-Comté</p>
            </div>
            <div class="region">
                <img src="static/img/regions/bretagne.png" alt="Bretagne">
                <p>Bretagne</p>
            </div>
            <div class="region">
                <img src="static/img/regions/centre-val-de-loire.png" alt="Centre-Val de Loire">
                <p>Centre-Val de Loire</p>
            </div>
            <div class="region">
                <img src="static/img/regions/corse.png" alt="Corse">
                <p>Corse</p>
            </div>
            <div class="region">
                <img src="static/img/regions/grand-est.png" alt="Grand Est">
                <p>Grand Est</p>
            </div>
            <div class="region">
                <img src="static/img/regions/hauts-de-france.png" alt="Hauts-de-France">
                <p>Hauts-de-France</p>
            </div>
            <div class="region">
                <img src="static/img/regions/ile-de-france.png" alt="Île-de-France">
                <p>Île-de-France</p>
            </div>
            <div class="region">
                <img src="static/img/regions/normandie.png" alt="Normandie">
                <p>Normandie</p>
            </div>
            <div class="region">
                <img src="static/img/regions/nouvelle-aquitaine.png" alt="Nouvelle-Aquitaine">
                <p>Nouvelle-Aquitaine</p>
            </div>
            <div class="region">
                <img src="static/img/regions/occitanie.png" alt="Occitanie">
                <p>Occitanie</p>
            </div>
            <div class="region">
                <img src="static/img/regions/pays-de-la-loire.png" alt="Pays de la Loire">
                <p>Pays de la Loire</p>
            </div>
            <div class="region">
                <img src="static/img/regions/provence-alpes-cote-d-azur.png" alt="Provence-Alpes-Côte d’Azur">
                <p>Provence-Alpes-Côte d’Azur</p>
            </div>
        </div>

        <!-- Régions populaires -->
        <div class="popular-regions-container">
            <h3 class="titre-popular-region">Régions populaires</h3>
            <div class="popular-region">
                <div class="region-name">Auvergne-Rhône-Alpes</div>
                <div class="coeur-container">
                    <img src="static/img/coeur.png" alt="Like" class="coeur">
                </div>
                <img src="static/img/vieux-port.png" alt="Auvergne-Rhône-Alpes">
            </div>
            <div class="popular-region">
                <div class="region-name">Bretagne</div>
                <div class="coeur-container">
                    <img src="static/img/coeur.png" alt="Like" class="coeur">
                </div>
                <img src="static/img/vieux-port.png" alt="Bretagne">
            </div>
            <div class="popular-region">
                <div class="region-name">Provence-Alpes-Côte d’Azur</div>
                <div class="coeur-container">
                    <img src="static/img/coeur.png" alt="Like" class="coeur">
                </div>
                <img src="static/img/vieux-port.png" alt="Provence-Alpes-Côte d’Azur">
            </div>
        </div>

        <!-- Description Site -->
        <div class="description-container">
            <h3 class="titre-description">Avec MyTripy, découvrez et partagez la France</h3>
            <div class="description">
                <img src="static/img/website.png" alt="Découverte">
                <h4>Partage d’expériences</h4>
                <p>Partage tes expériences et découvre les meilleurs endroits à visiter en France.</p>
            </div>

            <div class="description">
                <img src="static/img/network.png" alt="Découverte">
                <h4>Communauté interactive</h4>
                <p>Échange avec la communauté : conseils, avis, et photos pour enrichir ton voyage.</p>
            </div>

            <div class="description">
                <img src="static/img/guides_bons_plans.png" alt="Découverte">
                <h4>Guides et bons plans</h4>
                <p>Accède aux bons plans : itinéraires, activités et hébergements pour un voyage réussi.</p>
            </div>

            <h3 class="titre-2-description">Prêt à partir à l’aventure ?</h3>
            <button class="description-btn-destination" onclick="window.location.href='destinations.html'">Explore les destinations</button>

        </div>
    </section>


    <!-- Pied de page -->
    <footer>
        <p>&copy; 2025 Forum Voyage - Tous droits réservés.</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>