<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Forum de voyage - Partagez vos expériences et conseils sur les destinations de la France.">
    <meta name="keywords" content="forum, voyage, destinations, partage, communauté">
    <meta name="author" content="Matias, Sara, Samuel, William">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <title>MyTripy</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>

    <!-- Header -->
    <header>
        <!-- Logo -->
        <a href="mytripy-non.html" class="logo">
            <img class="image_logo" src="static/img/fond_noir.png" alt="MyTripy">
            <span class="text_logo">My<span>Trip</span>y</span>
        </a>

        <!-- Menu Burger -->
        <button class="burger-menu" id="burger">
            <img src="static/img/menu.png" alt="">
        </button>

    </header>

    <!-- Navigation -->
    <ul class="meta-ul">
        <li class="meta-navigation">
            <a class="meta-a" href="/mytripy-non">MyTripy</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Destinations</a>
        </li>

        <li class="meta-navigation">
            <a class="meta-a" href="#">Favoris</a>
        </li>
    </ul>


    <!-- Contenu principal -->
    <div class="infoUtilisateur">
        <img src="../static/img/photoProfil.png">
        <h1>Pseudo</h1>
        <p>Biographie</p>
    </div>

    <div class="favorisProfil">
        <div class="favoris-region">
            <div class="region-name">Auvergne-Rhône-Alpes</div>
            <div class="coeur-container">
                <img src="static/img/coeur.png" alt="Like" class="coeur" id="coeur-img">
            </div>
            <img src="static/img/vieux-port.png" alt="Auvergne-Rhône-Alpes">
        </div>
    </div>


    <script src="static/script.js"></script>
</body>
</html>